/*background image*/
.bgimage {
    height: 100vh;
    width: 100%;
    aspect-ratio: 16/9;
    background: url('images/bannerimg.jpeg');
    background-size: cover;
    position: relative;
}

/* text css above hero image*/
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

* {
  box-sizing: border-box;
}
.wrapper {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(20px) scale(1.5);
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .wrapper {
    transform: translate(-50%, -50%) scale(1);
  }
}
.container {
  position: absolute;
  width: 300px;
  height: 300px;
}
[data-typing] {
  position: absolute;
  top: 0;
  /*   border: 1px solid #f55; */
  transform-origin: 0% 0%;
  font-size: 25px;
  margin: 0;
  padding: 0;
  top: 100px;
  line-height: 1;
  color: #333;
}
[data-typing="i"] {
  top: 0;
  left: 50px;
  font-size: 90px;
  height: 70px;
  line-height: 70px;
}
[data-typing="aspriring"] {
  top: 3px;
  left: 80px;
  font-size: 27px;
  letter-spacing: 1px;
}
[data-typing="fullstack"] {
  top: 30px;
  left: 80px;     
  font-size: 40px;
  letter-spacing: 1px;
}
[data-typing="engineer"] {
  top: 74px;
  left: 265px;
  font-size: 36px;
  transform: rotate(90deg);
  background: #333;
  color: #fff;
  padding: 0px 4px;
}
[data-typing="in"] {
  top: 74px;
  left: 229px;
  transform: rotate(90deg);
  font-size: 35px;
}
[data-typing="sacramento"] {
  top: 72px;
  right: 110px;
  font-size: 25px;
}

[data-typing="animation"] {
  top: 167px;
  right: 110px;
  font-size: 35px;
}

a {
  color: #333;
  text-decoration: none;
}

body .scenejs-editor-timeline {
  position: fixed;
  bottom: 0;
  max-height: 300px;
}

/*about section*/
.imageAboutPage{
    width: 100%;
}

/* display background color black on navbar scroll */
.navbarScroll, .navbarDark{
    background-color: black;
}

/*css styling for the social media icons*/
.social-icons{
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover, .fa-github:hover{
    color: #008000;
}
.fab{
    color: #000000;
}
/*footer styling */
#footer{
    background-color: #808080;
    text-align: center;
}

/*styling for all sections*/
#about, #portfolio, #resume, #contact{
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact{
    padding-bottom: 4rem;
}

